@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); 
h1{
    color: rgb(14, 1, 1);
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

#image {
    padding-left: 200px; 
    padding-bottom: 50px;
    width: 500px; 
    height: 300px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

h2{
    color: rgba(35, 1, 39, 0.993);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
    
}
p{
    font-size: larger;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    padding: 50px;
}


h3{
    
    font-size: large;
    text-align: center;

}

body{
    background-image: url(/Images/four.jpg);
}

footer {
    
    background: rgba(31, 107, 112, 0.5);
    bottom: 0;
    left: 0;
    text-align: left;
  }

  #myHeader {
    background-color: lightblue;
    background-size: cover;
    color: black;
    padding: 10px;
    text-align: center;
}
#myParagragh {
    background-color: darkturquoise; 
    width: 100%;
    background-size: cover;
    text-align: center;
    text-decoration-color: gold;
}